<div class="row">
    <div class="col-xs-12">
        <h1>{{ microservice.name }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
       <h5>{{ microservice.description }}</h5> 
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group"
        appDropdown>
            <button
                type="button"
                class="btn btn-primary dropdown-toggle">
                Manage Microservice <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a style="cursor: pointer;" (click)="onDownloadLogs()">Download Logs</a></li>
                <li><a style="cursor: pointer;" (click)="onGetConfig()">Get Configuration</a></li>
                <li><a style="cursor: pointer;"  (click)="onUploadFile()">Update configuation</a></li>
                <li><a style="cursor: pointer;">Take DB Snap shot</a></li>
               <!-- <li><a style="cursor: pointer;" (click)="onEditMicroservice()">Edit</a></li>
                <li><a style="cursor: pointer;" (click)="onDeleteMicroservice()">Delete</a></li> -->
            </ul>
        </div>
    </div>
</div>


